@model DataTable
@using System.Data

<main id="main" class="main">

<table class="table">
    <thead>
        <tr>
            <th>CityID</th>
            <th>CityName</th>
            <th>STDCode</th>
            <th>StateName</th>
            <th>UserName</th>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dataRow in Model.Rows)
        {
            <tr>
                <td>@dataRow["CityID"]</td>
                <td>@dataRow["CityName"]</td>
                <td>@dataRow["STDCode"]</td>
                <td>@dataRow["StateName"]</td>
                <td>@dataRow["UserName"]</td>
                    <td>
                        <a href="/City/CityDelete?CityID=@dataRow["CityID"]" class="btn btn-outline-danger btn-xs">
                            <i class="bi bi-x"></i>
                        </a>

                    </td>
            </tr>
        }
    </tbody>
</table>

    <a asp-controller="City" asp-action="CityList">CityList</a>

    <a asp-controller="Country" asp-action="List_Country">CountryList</a>

    <a asp-controller="State" asp-action="List_State">StateList</a>
</main>